GATSBY_APP_NAME=Blockipedia
GATSBY_HOSTNAME=http://localhost:8000
# the value below can be found from `neardev/dev-account` after you've run `make deploy-dev` at least once
GATSBY_CONTRACT_ADDRESS=dev-1654959502639-42307933260659
GATSBY_PATH_PREFIX=

NEAR_NETWORK_ID=testnet
NEAR_NODE_URL=https://rpc.testnet.near.org
NEAR_WALLET_URL=https://wallet.testnet.near.org
NEAR_HELPER_URL=https://helper.testnet.near.org